{% extends 'base.html.twig' %}

{% block body %}
    <div class="row my-4">
        <div class="col">
            <h1 id="phpunit" class="mb-4">{{ 'homepage.categories' | trans | capitalize }}</h1>
            {#{{ dump(categories) }}#}

            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <p>
                {% for categorie in categories %}
                <a href="#" class="btn btn-primary">
                    {{ categorie.cat_trad }} <span class="badge badge-light">{{ categorie.nb_products }}</span>
                </a>
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <h1>Need ideas ?</h1>
            <div class="row">
                {% for prod in rndprod %}
                    <div class="col-sm-4">
                        <h2>{{ prod.name }}</h2>
                        <img src="{{ asset(prod.image) }}" class="img-fluid" alt="">
                        <p class="h5 my-2">{{ prod.price | localizedcurrency('EUR') }}€</p>
                        <p>
                            <a href="{{ url('homepage.product', {'slug' : prod.slug}) }}" class="btn btn-primary">
                                <span class="fas fa-eye"></span>
                                Consult
                            </a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
