{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
        <p>
            {{ form_label(form.address, 'Adresse :') }}
            {{ form_widget(form.address) }}
        </p>
        <p>
            {{ form_label(form.zipcode, 'Code postal :') }}
            {{ form_widget(form.zipcode) }}
        </p>
        <p>
            {{ form_label(form.city, 'ville:') }}
            {{ form_widget(form.city) }}
        </p>
        <p>
            {{ form_label(form.country, 'Pays :') }}
            {{ form_widget(form.country) }}
        </p>
        <p>
            <input type="submit" value="Valider" class="btn btn-primary">
        </p>
    {{ form_end(form) }}

{%  endblock %}