{% extends 'admin/base.admin.html.twig' %}

{% block colright %}
    <h1 class="mb-4">Produits add ou modifier</h1>
    {% include 'inc/flash.message.html.twig' %}
    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
<p>
    {{ form_label(form.price, 'Price') }}
    {{ form_widget(form.price) }}
    {{ form_errors(form.price) }}
</p>
    <p>
        {{ form_label(form.image, 'Image') }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
    </p>
    <p>
        {{ form_label(form.stock, 'Stock') }}
        {{ form_widget(form.stock) }}
        {{ form_errors(form.stock) }}
    </p>
    <p>
        {{ form_label(form.category, 'category') }}
        {{ form_widget(form.category) }}
        {{ form_errors(form.category) }}
    </p>
    <br>
    <br>
    <br>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#en" role="tab" aria-controls="home" aria-selected="true">EN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#fr" role="tab" aria-controls="profile" aria-selected="false">FR</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="en" role="tabpanel" aria-labelledby="home-tab">
            <p>
                {{ form_label(form.name_en, 'Name') }}
                {{ form_widget(form.name_en) }}
            </p>
            <p>
                {{ form_label(form.description_en, 'Description') }}
                {{ form_widget(form.description_en) }}
            </p>
        </div>
        <div class="tab-pane fade" id="fr" role="tabpanel" aria-labelledby="profile-tab">
            <p>
                {{ form_label(form.name_fr, 'Nom') }}
                {{ form_widget(form.name_fr) }}
            </p>
            <p>
                {{ form_label(form.description_fr, 'Description') }}
                {{ form_widget(form.description_fr) }}
            </p>
        </div>
    </div>
    <p><input type="submit" name="submit" class="btn btn-info" value="valider"></p>
    {{ form_end(form) }}
{% endblock %}

