{% extends 'base.html.twig' %}

{% block body %}
    <div class="row my-4">
        <div class="col">
            <h1 class="mb-4">Mot de passe oublié</h1>
            <h2>page de récupération de mot de passe</h2>
        </div>
    </div>
    {% include 'inc/flash.message.html.twig' %}
    <div class="row my-4">
        <div class="col">
            {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
            <p>
                {{ form_label(form.userEmail, 'Email :') }}
                {{ form_widget(form.userEmail) }}
            </p>
            <p>
                <input type="submit" class="btn btn-info" name="submit" value="Réinitialiser son email">
            </p>
            {{ form_end(form) }}
            {{ form_errors(form.userEmail) }}
        </div>
    </div>



{% endblock%}