{% extends 'base.html.twig' %}

{#flash message include #}
{% block body %}
    <div class="row my-4">
        <div class="col">
            <h1 class="mb-4">{{ 'email.reinit' | trans | capitalize}}</h1>
            {#{{ form_start(form, {'attr' : {'novalidate' : ''}}) }}#}
            {#{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}})}}#}
                {#{{ form_widget(form.password)}}#}
                {#<input type="submit" class="btn btn-info" name="submit" value="Valider">#}
            {#{{ form_end(form) }}#}





            {{ form_start(form, {'attr': { 'novalidate': 'novalidate' } } ) }}
            <p>
                {{ form_label(form.password, 'email.reinit' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.password, { 'attr' : {
                    'placeholder' : 'email.reinit' | trans | capitalize
                }}) }}
                {{ form_errors(form.password) }}
            </p>

            <p>
                <input type="submit" name="submit" value="{{ 'email.reinit' | trans | capitalize }}" class="btn btn-info">
            </p>

            {{ form_end(form) }}











        </div>
    </div>
    <p>
    </p>
    {{ form_errors(form.password) }}
    {#{{ form_errors(form.invalid_message) }}#}
{% endblock %}